{% extends "base.html" %}

{% load static %}

{% block title_text %}Prattle App{% endblock %}

{% block content %}
  <div class="col-md-12">
    <h3>Say "Dog"</h3>

    <div class="form-group">

      Speech Manager results: <input class="form-control" id="speech_manager_results" type="text" disabled="disabled" /><br />
    </div>
    <div class="form-group">

      Interpreter results: <input class="form-control" id="interpreter_results" type="text" disabled="disabled" /><br />
    </div>
    <div class="form-group">

      Translation: <input class="form-control" id="translation" type="text" disabled="disabled" /><br />
    </div>
    <div class="form-group">

      Input language: <select class="form-control" id="input_language"></select>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{% static 'js/robot.js' %}"></script>
{% endblock %}
